/* reset */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Grandstander', sans-serif;
}

/* button */



/* header */

.header{
  text-align: center;
  padding: 20px;
  font-weight: 700;
  font-size:2em;
}



/* main-body */

body{
  background-image: url('./images/background-img.jpg');
  background-position: absolute;
}
.main-list{
  max-width: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.selected-ingredients > button{
  display:inline;
}

input[type=number]{
  width:30px;
}